html{
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#0a0a23;
}

h1{
    max-width: 37.25rem;
    margin: 0 auto;
 padding: 1.5rem 1.25rem;
}

section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5;
  }

  .table-wrap {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    position: relative;
    margin-top: 3rem;
  }
  
  table caption {
    color: #e4467b;
    font-size: 1.3em;
    font-weight: normal;
    position: absolute;
    top: -2.25rem;
    left: 0.5rem;
  }
  
  tbody td {
    width: 100vw;
    min-width: 4rem;
    max-width: 4rem;
  }

  tbody th {
    width: calc(100% - 12rem);
  }
  